{% extends "diary/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>
    
    {{ user.username }} <!-- user is django's buil-in user. it can be accessed directly here 
    without sending it in context of the view-->

</h1>

<!-- <form method="POST" enctype="multipart/form-data">
    
    {% csrf_token %}
    <fieldset>
        {{ u_form|crispy}}
        {{ p_form|crispy}}
    </fieldset>

    <fieldset>
        <button type="submit">Update</button>
    </fieldset>

</form> -->
{% endblock content %}



